<%= form_for(([@post, @comment]), :html => { :class => 'form-horizontal' }) do |f| %>
<% unless @comment.nil?%> 
<% if @comment.errors.any? %>
        <div id="errorExplanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h2>
            <ul>
                <% @comment.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %> 
    <%end%>
  <div class="control-group" >
    <%= f.label :commenter, :class => 'control-label' %>
    <div class="controls">
    <%= f.text_field :commenter, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
    <%= f.text_area :body, :class => 'text_field', :rows => 5 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>   
  </div>
  
<% end %>
