<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

        <div id="impress" style='width:1000px;font-size:100px'>
            <div id="bored" class="step slide" data-x="-1000" data-y="-1500">
                <q>Что я узнал за две недели</q>
            </div>
            <div class="step slide" data-x="0" data-y="-1500">
                <q>Что я узнал за две недели</q>
            </div>

            <div class="step slide" data-x="1000" data-y="-1500">
                <q>Would you like to <strong>impress your audience</strong> with <strong>stunning visualization</strong> of your talk?</q>
            </div>

           <div class="step slide">
                    <p style='width:1000px;font-size:80px;
                text-align:center'>Creating Stunning Visualizations</p>
                
                </div>

            <div class="step slide" data-x="-1200" data-y="0">
                    <p>
                First Slide Moves From Left To Right</p>
                
                </div>
        </div>        
       <%= javascript_include_tag "impress"%>
        <script>impress().init();</script>

  