<%= form.fields_for :tags, :html => { :class => 'form-horizontal' } do |f11| %>
  <div class="field">
    <%= f11.label :name, 'Tag:', :class => 'control-label' %>
    <div class="controls">
    <%= f11.text_field :name, :class => 'text_field'  %>
    </div>
  </div>
  <% unless f11.object.nil? || f11.object.new_record? %>
    <div class="field">
      <%= f11.label :_destroy, 'Remove:' %>
      <%= f11.check_box :_destroy %>
    </div>     
  <% end %>
<% end %>
