<%- model_class = Post -%>

<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<ul class="breadcrumb">
  <li><a href="/posts">Posts</a> <span class="divider">/</span></li>
  <li class="active">New</li>
</ul>
<%= render :partial => 'form' %>
