<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<ul class="breadcrumb">
  <li><a href="/posts">Posts</a> <span class="divider">/</span></li>
  <li class="active">Show</li>
</ul>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @post.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:text) %>:</strong></dt>
  <dd><%= @post.text %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tags) %>:</strong></dt>
  <dd><%= join_tags(@post) %></dd> 
  </dl>
  <dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:comments) %>:</strong></dt>  
  <dd><%= render @post.comments %></dd>
  </dl>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:add_a_comment) %>:</strong></dt>
  <dd><%= render "comments/form" %></dd>
</dl>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_post_path(@post), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              post_path(@post),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
